@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

$primary: #523ae5;
$primary-lighter:#6f3cd6;
$secondary: #5b4a9a;
$dark-grey: #dddada;

$text-light: #757070;
$text-lightest: #b7b7b7;
$text-lighter: #b4aeae;
$primary-accent: #909bfd;
$secondary-accent: #e8466d;

$positive: #3bac1f;
$danger: #a30404;
$success: #5fb729;

$bg-grey-light: #e9e9e9;
$bg-primary: #e5e5e5;
$bg-secondary: #d9d9d9;

